
body {
	font-family: 'Droid Sans', sans-serif;
	color: #212121;
}

/*
	header
*/
#header {
	padding: 20px;
	border-bottom: solid 1px #BBBBBB;
}
#logo {
	text-align: center;
	font-size: 5em;
}
#logo-small {
	padding: 15px;
	text-align: center;
}

/*
	list
 */
.list-container {
	
}
.list-header {
	border-bottom: solid 1px #BBBBBB;
	font-size: 2.5em;
	padding: 20px 40px;
	text-align: center;
}
.list-header-description {
	
}
.list-item {
	padding: 20px 40px;
	border-bottom: solid 1px #BBBBBB;
}
.list-title {
	font-size: 1.5em;
}
.list-description {
	font-size: 0.8em;
}

/*
	link
 */
.link-container {
	margin: 20px 40px;
}
.link-item {
	padding: 5px;
}
.link-url {

}