
body {
	font-family: 'Droid Sans', sans-serif;
}


h1 {
	text-align: center;
	font-size: 4em;
	padding: 20px;
	border-bottom: solid 1px #BBBBBB;
}



.lists {

}

.list-item {
	padding: 20px 40px;
	border-bottom: solid 1px #BBBBBB;
}

.list-title {
	font-size: 2em;
}

.list-description {

}



.links {
	margin: 20px 40px;
}

.link-item {
	padding: 5px;
}

.link-url {

}